# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.dist-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environments
.env
.venv
.envrc
*.env
*.env.*

# Data files
data
*.csv
*.tsv
*.xls
*.xlsx
*.hdf5
*.h5
*.parquet
*.feather
*.xml
*.json

# Rope project settings
.ropeproject

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm
*.iml
.idea/
*.iws
*.ipr
